<html>
<head>
	<meta charset="UTF-8">
	<title>Blockchain Visualization</title>
	<link rel="stylesheet" href="index.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
			<h1 ref='text' v-bind:style="{color: colour}" style="text-align: center;padding-top: 5%;" >Blockchain is Valid</h1>
		<div class="flex-container">
		  <div class="block-1 block">
		  	<h3 >Hash: <br><span style="display:block; width:230px;word-wrap:break-word; font-weight: normal; font-size: 16px;">{{ block1CurrentHash }}</span></h3>
		  	<div class="inputs">
		  		<label for="amount">Amount</label><br><input type="text" v-model='amount1'><br><br>
		  		<label for="sender">Sender</label><br><input type="text" v-model='sender1'><br><br>
		  		<label for="recipient">Recipient</label><br><input type="text" v-model='recipient1'><br><br>
		  		<label for="note">Note</label><br><textarea name="note" id="" cols="25" rows="3"></textarea><br>
		  		<button @click="submitBlock1"class="submit-data" v-bind:disabled='block1CurrentHash ? true : false'> Submit data</button><br>
		  		<div class="footer-data">
		  			<p>Time Stamp:  <br> <span class="footer-data">{{ block1TimeStamp }}</span> 
		  			</p>
					<p>Previous Hash: <br><span class="footer-data">{{ genesisHash }}</span>
					</p>
		  		</div>
		  	</div>
		  </div>
		  <div class="block-2 block">
		  	<h3>Hash: <br><span style="display:block; width:230px;
    word-wrap:break-word; font-weight: normal; font-size: 16px;">{{block2CurrentHash}}</span></h3>
		  	<div class="inputs">
		  		<label for="amount">Amount</label><br><input type="text" v-model='amount2'><br><br>
		  		<label for="sender">Sender</label><br><input type="text" v-model='sender2'><br><br>
		  		<label for="recipient">Recipient</label><br><input type="text" v-model='recipient2'><br><br>
		  		<label for="note">Note</label><br><textarea name="note" id="" cols="25" rows="3"></textarea><br>
		  		<button @click='submitBlock2' class="submit-data" v-bind:disabled='!block1CurrentHash || block2CurrentHash ? true : false'> Submit Data</button><button style="margin: 14px 0;" class="submit-data"  @click='causeBlock2Tamper' v-bind:disabled='(!block1CurrentHash || !block2CurrentHash || !block3CurrentHash) ? true : false'>Tamper</button><br><small style="color: red; font-size: 10px; display: block;word-wrap:break-word; width: 75px; float: right;">*Doule click to see invalid block</small><br>
		  		<div class="footer-data">
		  			<p>Time Stamp:  <br> <span class="footer-data">{{ block2TimeStamp }}</span> 
		  			</p>
					<p>Previous Hash: <br><span style="display:block; width:230px;
    word-wrap:break-word; font-weight: normal; font-size: 16px;">{{ block2Hash }}</span>
					</p>
		  		</div>
		  	</div>
		  </div>
		  <div class="block-3 block" v-bind:style="{backgroundColor: bgndColor}">
		  	<h3>Hash: <br><span style="display:block; width:230px;
    word-wrap:break-word; font-weight: normal; font-size: 16px;">{{ block3CurrentHash }}</span></h3>
		  	<div class="inputs">
		  		<label for="amount">Amount</label><br><input type="text" v-model='amount3'><br><br>
		  		<label for="sender">Sender</label><br><input type="text" v-model='sender3'><br><br>
		  		<label for="recipient">Recipient</label><br><input type="text" v-model='recipient3'><br><br>
		  		<label for="note">Note</label><br><textarea name="note" id="" cols="25" rows="3"></textarea><br>
		  		<button @click='submitBlock3' class="submit-data" v-bind:disabled='((!block1CurrentHash || !block2CurrentHash) ? true : false) || block3CurrentHash ? true : false'> Submit Data</button><br>
		  		<div class="footer-data">
		  			<p>Time Stamp:  <br> <span class="footer-data">{{ block3TimeStamp }}</span> 
		  			</p>
					<p>Previous Hash: <br><span style="display:block; width:230px;
    word-wrap:break-word; font-weight: normal; font-size: 16px;">{{ block3Hash }} </span>
					</p>
		  		</div>
		  	</div>
		  </div>
		</div>
		
	</div>
	<script src="index.js"></script>
</body>
</html>
